/* stylelint-disable max-line-length */

/* stylelint-disable selector-max-specificity */

@font-face {
  font-family: Get Schwifty;
  src: url('./fonts/get_schwifty.ttf');
}

* {
  box-sizing: border-box;
  font-family: -apple-system , BlinkMacSystemFont
    Roboto , Oxygen , Ubuntu , Cantarell , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  background: linear-gradient(170deg, rgba(0, 146, 179, 1) 30%, rgba(18, 18, 145, 1) 70%);
  font-size: 50px;
  height: auto;
  padding: 20px 0;
  text-align: center;
}

#header-title {
  color: rgb(0, 174, 255);
  font-family: Get Schwifty , Helvetica , Arial , Verdana , Tahoma , sans-serif;
  font-weight: 900;
  text-shadow: 0 0 8px black;
  -webkit-text-stroke-color: rgb(238, 255, 0); /* cor da borda */
  -webkit-text-stroke-width: 2px; /* largura da borda */
}

body {
  background-attachment: fixed;
  background-image: url('./images/Rick+and+Morty+Chaos-min.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#div-image {
  margin: 5px 0;
  width: 70%;
}

img {
  height: 200px;
  width: 100%;
}

.input {
  border: 1px solid rgb(58, 58, 58);
  border-radius: 3px;
  font-size: 18px;
  height: 30px;
  padding-left: 3px;
  width: 100%;
}

.div-inputs {
  line-height: 30px;
  padding: 5px 0;
}

#title-form {
  font-size: 26px;
  text-align: center;
}

#form-card {
  display: flex;
  justify-content: space-evenly;
}

#form, #card-preview {
  background: radial-gradient(circle, rgba(0, 53, 255, 0.7) 0%, rgba(164, 13, 168, 0.7) 100%);
  border-radius: 3px;
  color: rgb(0, 225, 255);
  height: auto;
  margin: 30px 0;
  padding: 10px;
  width: 30%;
}

#card-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer p {
  color: rgb(3, 6, 212);
  font-family: Get Schwifty , Helvetica , Arial , Verdana , Tahoma , sans-serif;
  font-weight: 900;
  text-shadow: 0 0 8px black;
  -webkit-text-stroke-color: rgb(0, 255, 234); /* cor da borda */
  -webkit-text-stroke-width: 1px; /* largura da borda */
}

#card-preview p, #cartao-preview p, #div-attrs, #raridades {
  margin: 5px 0;
}

#cartao-preview {
  align-items: center;
  background: linear-gradient(170deg, rgba(5, 95, 120, 1) 0%, rgba(179, 0, 69, 1) 100%);
  border: 2px solid gold;
  border-radius: 3px;
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.75);
  color: rgb(0, 225, 255);
  display: flex;
  flex-direction: column;
  height: 640px;
  padding: 10px;
}

#name-card {
  border: 2px solid gold;
  border-radius: 3px;
  color: rgb(0, 225, 255);
  font-family: Get Schwifty , Helvetica , Arial , Verdana , Tahoma , sans-serif;
  font-size: 36px;
  font-weight: 900;
  height: 62px;
  overflow: auto;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 0 8px black;
  -webkit-text-stroke-color: rgb(3, 25, 97); /* cor da borda */
  -webkit-text-stroke-width: 1px; /* largura da borda */
  width: 100%;
  word-wrap: break-word;
}

#description-card {
  border: 2px solid gold;
  border-radius: 3px;
  font-size: 18px;
  height: 121px;
  overflow: auto;
  padding: 5px;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}

#div-attrs {
  border: 2px solid gold;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 113px;
  justify-content: center;
  overflow-x: auto;
  padding: 5px 10px;
  width: 100%;
}

.chave {
  text-align: center;
  width: 100%;
}

#raridades {
  border: 2px solid gold;
  border-radius: 3px;
  font-size: 18px;
  height: auto;
  overflow: auto;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

#trunfo-card {
  height: 18px;
}

#form p, #card-preview p, #cartao-preview p {
  font-weight: 500;
}

#description-input {
  height: 54px;
  padding-top: 4px;
}

#not-trunfo {
  text-align: center;
}

.super-trunfo {
  align-items: center;
  display: flex;
}

#trunfo-input, #trunfo-filter {
  height: 25px;
  margin-left: 5px;
  width: 25px;
}

#div-save-button {
  display: flex;
  justify-content: center;
}

#save-button {
  background-color: rgb(0, 225, 255);
  border: 0 solid black;
  border-radius: 3px;
  color: rgb(0, 39, 153);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 18px;
  text-align: center;
}

#save-button:disabled {
  border: 1px solid black;
  opacity: 0.3;
}

#save-button:hover {
  background-color: rgb(0, 39, 153);
  color: rgb(0, 225, 255);
}

#section-filters {
  display: flex;
  justify-content: center;
  width: 100%;
}

#filters {
  align-items: center;
  background: linear-gradient(34deg, rgba(42, 173, 160, 1) 0%, rgba(149, 184, 62, 1) 100%);
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.75);
  color: rgb(83, 27, 27);
  display: flex;
  flex-direction: column;
  font-size: 138%;
  font-weight: 500;
  height: auto;
  justify-content: space-evenly;
  margin: 30px 0;
  width: 96%;
}

#title-list, #div-filters {
  margin: 10px 0;
}

#title-list p {
  color: rgb(193, 206, 13);
  font-family: Get Schwifty , Helvetica , Arial , Verdana , Tahoma , sans-serif;
  font-size: 40px;
  font-weight: 900;
  padding: 10px 0;
  text-shadow: 0 0 8px rgb(4, 48, 59);
  -webkit-text-stroke-color: rgb(85, 85, 85); /* cor da borda */
  -webkit-text-stroke-width: 2px; /* largura da borda */
}

#div-filters {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#div-filters .div-inputs {
  margin: 0 10px;
}

#cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px 0;
}

.list {
  display: flex;
  flex-direction: column;
  width: 28%; /* menos 2 */
}

#div-button {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

#button-remove {
  background-color: rgb(0, 225, 255);
  border: 0 solid black;
  border-radius: 3px;
  color: rgb(0, 39, 153);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 18px;
  text-align: center;
  width: auto;
}

footer {
  align-items: center;
  background: linear-gradient(197deg, rgba(205, 0, 255, 1) 20%, rgba(255, 108, 0, 1) 80%);
  display: flex;
  font-size: 25px;
  height: 70px;
  justify-content: center;
  padding: 20px 0;
  text-align: center;
}
